header {
    padding: 5px;
    text-align: center;
    font-size: 35px;
    width: 100%;
    text-align: center;
    color: black;
}
text {
    float: left;
    padding: 5px;
    width: 100%;

    border: 2px solid blue;
    height: 500px;
}
footer {
    padding: 5px;
    text-align: center;
    color: white;
    clear:both;
    width: 100%;
    height: 50px;
}